<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<!-- CSS de la página -->
<link href="css/index.css" rel="stylesheet" type="text/css" />
<link href="css/timelineDark.css" rel="stylesheet" type="text/css" />

<!-- Links para el mapa Leaflet -->
<link href="js/leaflet/leaflet.css" rel="stylesheet">
<script src="js/leaflet/leaflet.js"></script>
<script src="js/leafletMap.js"></script>



<script src="js/dist/vis-timeline-graph2d.min.js"></script>
<link href="js/dist/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>




<title>ww2dates</title>
</head>

<body th:json="${eventListJSON}" th:onload="inicializarVistaIndex(document.body.getAttribute('json'))">
   <!-- <body th:data-name="Pedro" onLoad="salute(document.body.getAttribute('data-name'))"> -->
<!-- <body th:json="${eventListJSON}" th:onload="pasarDatos(this.getAttribute('json'))"> -->
<!-- <body onload="inicializarVistaIndex(${eventListJSON})"> -->
<!-- <body> -->
	<div class="container">
		<div id="timeline"></div>
		
		<!-- <button th:json="${eventListJSON}" th:onclick="pasarDatos(this.getAttribute('json'))">datos</button> -->
		<!-- <button onclick="timelineEventsToMap()">Eventos al mapa</button> -->
		<!-- <button onclick="clearMarks()">Borrar Eventos</button>
		<button onclick="fit()">Ajustar escala</button> -->

		<div id="map"></div>
		

		
		<!-- <script src="resources/js/timeline.js"></script> -->
		<!-- <script src="<c:url value="resources/js/leafletMapIndex.js" />"></script> -->
		
		
	</div>

	<script src="js/main.js"></script>
	
</body>
</html>