<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<link href="css/infoEvent.css" rel="stylesheet" type="text/css">

	<!-- Links para el mapa Leaflet -->
	<link href="js/leaflet/leaflet.css" rel="stylesheet">
	<script src="js/leaflet/leaflet.js"></script>
	<script src="js/leafletMap.js"></script>

	<style type="text/css">
		#map {
			height: 333px;
			width: 465px;
		}
	</style>

	<title>Event</title>
</head>


<body th:latitude="${newEvent.latitude}" th:longitude="${newEvent.longitude}" th:onload="infoEventMap(document.body.getAttribute('latitude'), document.body.getAttribute('longitude'))">
<div class="container">


	<form id="infoForm" th:object="${newEvent}">
		<div class="header">
			<h3 th:text="*{#dates.format(date, 'dd-MM-yyyy')} + ' - ' + *{name}"></h3>
			
		</div>

		<div class="sep"></div>

		<div class="inputs">
		   <div class="box_inline_description">
				<label>Description</label>
				<textarea th:field="*{description}" class="form-control"></textarea>
		   </div>
		</div>

		<div class="inputs">
			<div class="map">
				<label>Location</label>
				<!-- <form:input id="editLat" path="latitude" type="latlng" readonly="true"/>
				<form:input id="editLng" path="longitude" type="latlng" readonly="true"/> -->
				<div id="map"></div>
			</div>

			<div class="image">
				<label>Image</label>
				<img class="image" id="imagenPrevisualizacion" th:src="'/files/'+*{imageName}"/>
			</div>


		</div>

		<div class="inputs">
		<label>Mas información: </label>
		<a href="https://www.pgsanchez.net">pgsanchez.net</a>
		</div>
		<div class="inputs">
		<label>Tags: </label>
		<a href="https://www.pgsanchez.net">#pgsanchez.net</a>
		<!--  <a id="submit" href="#">VOLVER</a> -->
		<a id="submit" href="/index"> VOLVER </a>
<!--		<input type="submit" id="submit" value ="UPDATE"/>
			<a href="/events" class="btnCancel"> CANCEL	</a> -->

		</div>

	</form>

</div>

</body>
</html>